<nav class="navbar navbar-expand-lg">
    <a id="titulo" class="navbar-brand text-uppercase" routerLink="/products">PAPELERIA BOBADITAS</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto"> </ul>
        <div class="btns">
            <button class="btn btnInfo my-2 my-sm-0" routerLink="/car" type="button">Carrito
                <span style="color: white;"> <b>{{productsCar.length}}</b></span> </button>
            <button id="login" class="btn btnInfo my-2 my-sm-0" type="button" routerLink="/admin-login">ADMINISTRAR</button>
        </div>
    </div>
</nav>

<div id="body" class="row">
    <div class="mainContent">
        <div class="col-12">
            <router-outlet></router-outlet>

        </div>
    </div>
</div>