h2 {
    text-align: center;
    padding-top: -50px;
    color: black;
    -webkit-text-stroke: 2px black;
    color: white;
}

img {
    size: 2px;
}

.col-12 {
    padding-top: 10%;
    padding-left: 30%;
}

.card-text {
    padding-left: 20%;
}

#button {
    padding-left: 40%;
}

.mainContent {
    background-image: url(https://estaticos.qdq.com/coverphotos/113/140/4e4ad7ec575e4e4993282e685fa1c56d.jpg);
    background-size: 100%;
}