<div class="mainContent">
    <div class="row">

    </div>
    <div class="col-12">
        <h3 class="text-uppercase text-center">Inicia Sesión para agregar productos</h3>
        <h6>(solo administradores)</h6>
    </div>
    <br>
    <div class="row">
        <div class="col-10">
            <div class="formLogin">
                <form ngNativeValidate #f="ngForm" (ngSubmit)="ingresar(f)" class="form-horizontal floating-labels has-error">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Correo Electrónico</label>
                        <input ngModel name="email" type="email" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Contraseña</label>
                        <input ngModel name="password" type="password" class="form-control" required>
                    </div><br>
                    <button type="button" routerLink="/productos" style="float: left;" class="btn btnInfo">volver a productos</button>
                    <button type="submit" class="btn btnSuccess">Ingresar</button>
                </form>
            </div>
        </div>
    </div>
</div>