<div class="mainContent">
    <div class="col-12">
        <h2 class="text-uppercase ">¡Este es tu carrito de compras</h2>
        <small>Estos son los productos que seleccionaste, ¡Adquiérelos!</small>
    </div>
    <br><br>
    <div class="row">
        <div class="col-12">
            <ng-container *ngIf="productCar.length < 1">
                <div class="alert alert-warning" role="alert">
                    <h5>¡No tienes productos seleccionados en este momento!</h5>
                </div>
            </ng-container>

            <ng-container *ngIf="productCar.length >= 1">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Nombre</th>
                            <th scope="col">Código</th>
                            <th scope="col">Cantidad</th>
                            <th scope="col">Precio</th>
                            <th scope="col">Acción</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let product of productCar">
                            <ng-container *ngIf="carId === product?.car_id?._id">
                                <th>{{product?.product_id.name}}</th>
                                <td>{{product?.product_id.sku}}</td>
                                <td>{{product?.quantity}}</td>
                                <td>${{product?.product_id.precio}}</td>
                                <td>
                                    <form ngNativeValidate #update="ngForm" (ngSubmit)="updateQuantity(update, product?._id)">
                                        <input type="number" [(ngModel)]="product.quantity" name="quantity" style="width: 15%;" class="form-control" placeholder="Cantidad" required>

                                        <div class="actionCart">
                                            <button type="submit" class="btn btnSuccess">Actualizar</button>&nbsp;
                                            <button type="button" (click)="deleteProductCart(product._id)" class="btn btn-danger"><b>X</b></button>
                                        </div>

                                    </form>
                                </td>
                            </ng-container>
                        </tr>
                    </tbody>
                </table>
            </ng-container>
        </div>
    </div>
    <div class="row">
        <div class="col-12"><br><br>
            <button type="button" routerLink="/productos" class="btn btnInfo"><b>volver</b></button>
            <button type="button" style="float: right;" (click)="checkout()" class="btn btnInfo"><b>COMPRAR</b></button>

        </div>

    </div>

</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br><br>
<br>